 //Article Section () 
 .sql {
  padding-bottom: 50px;
  font-style: normal;
  font-weight: normal;
}

.container_titleTopic_menu {
display: flex;
justify-content: space-between; 
}



// .code_article {
//   font-size:  1rem;
//   font-family: Ropa Sans;
//   color: $base-color
// }