// <!-- ************* NEWSLETTER SECTION ************ -->

.newsletter {

  margin-bottom: 60px;

  &__title {

    max-width: 250px;
  }

  &__content {
    margin-top: 50px;
    text-align: center;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    input {
      border: 1px solid $base-color;
      padding: 10px;
      width: 100%;
      max-width: 620px;
      color: $text-color;
      border-right: none;
      outline: none;

      &::placeholder {
        color: $base-color;
      }
    }
  }

  &__desc {
    font-weight: 300;
    max-width: 500px;
    font-style: italic;
    margin: 0 auto;
  }
}