.scroll {
  height: 6px;
  background-color: $base-color;
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: 0;

  @media (max-width: $smallest) {
    display: none;
  }

  &__indicator {
    height: 100%;
    background-color: lighten($base-color, 20%);
  }
}