.accordion {
    margin-bottom: 40px;
}


.accordion__item {
    color: white;
    background-color: rgba($base-color, 0.8);
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        background-color: darken($base-color, 10%)
    }
}
.accordion__question {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.accordion__item-answer {
    font-size: 1rem;
    // display: none;
    transition: display 0.3s;
    margin-top: 10px;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.accordion__item.show-text > .accordion__item-answer {
    height: 70px;
    
}

.accordion__question button {
    margin-left: 10px;
  }

  .toggle-btn {
    border: none;
    outline: none;
    background: transparent;
  }