         .history {
             text-align: center;
         }
         
         .history h3 {
             color: $headings-color;
         }
         
         .about_HTML p {
             color: $text-color;
             text-align: justify;
             text-indent: 15px;
         }
         
         .history h1 {
             font-size: 90px;
             font-stretch: ultra-condensed;
             font-weight: 300;
             margin: 20px;
             line-height: 74.1%;
             color: $headings-color;
         }
         
         .HTML h2 {
             font-size: 40px;
             line-height: 85.6%;
             margin-top: 20px;
             margin-bottom: 20px;
             color: $text-color;
         }
         
         .about li::before {
             content: "";
             background: $accent-pink;
             border-radius: 1ch;
             padding-inline: 1ch;
             margin-inline-end: 1ch;
             font-size: 50%;
         }
         
         .side_bar li {
             padding: 10px;
         }
         
         .HTML {
             display: flex;
             justify-content: space-between;
         }
         
         .about_HTML {
             margin-right: 20px;
         }
         
         .about_HTML h2 {
             text-align: center;
         }
         /*.side_bar ul {
    color: rgba(0, 128, 183, 1);
    font-weight: 600;
    margin-left: 30px;
    list-style-type: disc;
}*/
         /* .side_bar li::marker {
        color: $accent-pink;
        font-size: 2rem;
    }
    /*.side_bar ul:hover {
    background-color: $base-color;
}*/
         
         .about_items li {
             color: $text-color;
             padding: 10px;
         }
         /*---------------gradient-----------*/
         
         .side_bar {
             padding: 0;
             list-style: none;
         }
         
         .side_bar li {
             position: relative;
             padding: 10px 30px;
             background: linear-gradient(to left, #ADCEE9 0%, #FFF, #ADCEE9);
             border: 2px solid $base-color;
             color: $text-color;
             box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
             margin-bottom: 5px;
             text-align: center;
             background-size: 100% 100%;
             z-index: 1;
         }
         
         .side_bar li:before {
             content: "";
             position: absolute;
             width: 0;
             height: 100%;
             top: 50%;
             left: 50%;
             background: linear-gradient(to left, #EBF3FA 0%, #FFF, #EBF3FA);
             opacity: 0;
             -webkit-transform: translateX(-50%) translateY(-50%);
             -moz-transform: translateX(-50%) translateY(-50%);
             -ms-transform: translateX(-50%) translateY(-50%);
             transform: translateX(-50%) translateY(-50%);
             -webkit-transition: all 0.3s;
             -moz-transition: all 0.3s;
             transition: all 0.3s;
             z-index: -1;
         }
         
         .side_bar li:hover:before {
             width: 100%;
             opacity: 1;
         }
         
         @media (max-width: $smallest) {}