.btn {
  font-family: $main-font;
  text-transform: uppercase;
  border: none;
  background-color: $base-color;
  color: white;
  font-size: 1rem;
  border-radius: 36px;
  padding: 0.5rem;
  outline: none;
}
