.btn {
  text-transform: uppercase;
  border: none;
  background-color: lighten($base-color, 5%);
  color: white;
  font-size: 1rem;
  border-radius: 36px;
  padding: 0.5rem;
  outline: none;

  &:hover {
    background-color: lighten($base-color, 10%);
  }
}
button {
  border: none;
  outline: none;
  background: transparent;
}

.search-btn {
color: black;
  &:hover {
    color: $base-color;
  }
}