.cards__title {
    margin-bottom: 20px;
    @media (max-width: $smallest) {
        margin-top: 20px;
        text-align: center;
    }
}

.cards__desc {
    @media (max-width: $smallest) {
        text-align: center;
    }
}

.cards_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards a {
    text-decoration: none;
}

.card {
    width: 28%;
    padding: 60px 40px;
    margin-bottom: 20px;
    /*-------Shadow------*/
    box-shadow: (0px 5px 10px rgba(0, 0, 0, 0.25));
    position: relative;
    height: 350px;
    background: $base-color;
    border-top-right-radius: 30px;
}

.card p {
    padding-top: 30px;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 1px 1px 1px rgb(2, 2, 87);
    font-size: 18px;
    margin-top: 40%;
}

.card h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.front {
    background: $base-color;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    border-top-right-radius: 30px;
    display: none;
    /* background: $base-color;*/
    background-color: rgba(253, 253, 253, 0.5);
}

.btn-view {
    border: 2px solid $text-color;
    box-sizing: border-box;
    border-radius: 15px;
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 500;
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
    margin: auto;
    padding: 10px;
    z-index: 1;
}

.card:hover .back {
    display: block;
    cursor: pointer;
    /* transform: scale(1.03);*/
}

@media (max-width: $medium) {
    .cards_item {
        justify-content: space-around;
    }
}

@media (max-width: $small) {
    .card {
        width: 45%;
    }
}

@media (max-width: $smallest) {
    .cards_item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        width: 65%;
    }
}