// Social Icons

.vertical__menu > i {
  color: white;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}

.vertical__menu i:hover {
  color: $base-color;
}

.close-burger {
  display: none;
}

// Burger Icon

.burger-icon {
  display: none;

  @media (max-width: $small) {
    display: block;
  }
}

// Accordion Icons

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}
// Search Btn



// Message Btn
.icon_message {
   position: fixed;
   bottom: 200px;
   right: 80px
  }

.icon_message img {
  //position: absolute; 
 width: 100px;
 height: 100px;
 
  color:gray;
  background: white;
  border-radius: 50%;
  animation: radial-pulse 1s infinite;
  }

  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
  }