// Social Icons

.vertical__menu > i {
  color: white;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}

.vertical__menu i:hover {
  color: $base-color;
}

.close-burger {
  display: none;
}

// Burger Icon

.burger-icon {
  display: none;

  @media (max-width: $small) {
    display: block;
  }
}

// Accordion Icons

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}
// Search Btn

.search-close i {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



