.hero__popup {
  position: absolute;
  background-color: rgba(77, 77, 77, 0.35);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 100;
}

.modal__item {
  margin-bottom: 10px;
}

.hero__modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(142, 196, 232, 0.44);
  max-height: 300px;
  height: 100%;
  border-radius: 10vh;
  justify-content: space-evenly;
}

.popup__title {
  color: white;
  font-size: 45px;
}

.hero__modal input {
  padding: 1.5vh;
  border: none;
  outline: none;
  border-radius: 10vh;
  background-color: #74C7FF;
  color: white;
  transition: .2s;
}

.hero__modal input:hover {
  background-color: #51abff;
}

.hero__modal input::placeholder {
  color: darken(white, 10%)
}

