// Main Modals And PopUps Settings
.popup {
  position: fixed;
  background-color: rgba(77, 77, 77, 0.35);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 200;
  min-height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-color;
  border-radius: 10vh;
  justify-content: space-evenly;
  z-index: 201;
}

// Registration Form PopUps CSS
.log__modal, .reg__modal {
  max-width: 250px;
  width: 100%;
  max-height: 300px;
  height: 100%;

  h3 {
    color: white;
    font-size: 45px;
  }

  input {
  padding: 1.5vh;
  border: none;
  outline: none;
  border-radius: 10vh;
  background-color: lighten($base-color, 10%);
  color: white;
  transition: .2s;
  }

  input:hover {
    background-color:  darken($base-color, 10%)
  }
  input::placeholder {
    color: white;
  }
}

.log__btn, .reg__btn {
  background-color: lighten($base-color, 10%);
}

// Contact PopUp CSS

.contact__modal {
  color: white;
  padding: 20px;


  h3 {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 30px;
    text-align: center;
  }

  button {
    background-color: lighten($base-color, 10%);
  }
}

