// Main Modals And PopUps Settings
.popup {
    position: fixed;
    background-color: rgba(77, 77, 77, 0.35);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($base-color, 0.9);
    border-radius: 20px;
    justify-content: space-evenly;
    z-index: 201;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.modal__link {
  display: flex;
  align-items: center;
  color: white;
  white-space: nowrap;

  i {
    margin-left: 5px;
  }
 }

// Registration Form PopUps CSS
.log__modal,
.reg__modal {
    max-width: 250px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    h3 {
        color: white;
        font-size: 45px;
    }
    input {
        padding: 1.5vh;
        border: none;
        outline: none;
        border-radius: 10vh;
        background-color: lighten($base-color, 5%);
        color: white;
        transition: .2s;
    }
    input:hover {
        background-color: lighten($base-color, 10%);
    }
    input::placeholder {
        color: white;
    }
}

.log__btn,
.reg__btn {
    background-color: lighten($base-color, 5%);
    &:hover {
        background-color: lighten($base-color, 10%);
    }
}

// Contact PopUp CSS
.contact__modal {
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  max-width: 250px;

  @media (max-width: $smallest) {
    padding: 10px 20px;
    width: 100%;
  }


  h3 {
    font-size: 40px;
    margin-bottom: 20px;

    @media (max-width: $smallest) {
        padding: 10px 20px;
        width: 100%;
    }
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
    @media (max-width: $smallest) {
      font-size: 13px;
    }
}


/*----------Pop Up Raiting------------*/

.rating_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: none;
    border-radius: 30px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px;
}

.popup_rat {
    font-size: 2rem;
    margin-bottom: 20px;
}

.popup_text {
    width: 70%;
    text-align: center;
    margin-top: 10px;
}

.btn_rating {
    font-size: 1.5rem;
}


/*----------------------Pop Up Comments--------------------------------*/

.comments_modal {
    border: none;
    border-radius: 30px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px;
}

.comments_title {
    font-size: 24px;
    padding-top: 5px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
}

.comments_comment {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.name_comment {
    border: none;
    background-color: transparent;
    border-bottom: 4px solid white;
    padding: 10px 0px 0px 10px;
    outline: none;
    width: 15%;
    margin-right: 5px;
    color: rgba(0, 25, 55, 1);
}

.message_comment {
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 0px 10px 10px;
    outline: none;
    transition: border-bottom 0.2s;
    width: 85%;
    color: rgba(0, 25, 55, 1)
}

.btn_article {
    text-transform: uppercase;
    border: none;
    color: white;
    justify-self: center;
    padding: 5px 30px;
    font-size: 1.5rem;
    border-radius: 36px;
    background-color: $base-color;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.items_comments {
    border: 4px solid white;
    overflow-y: scroll;
    height: 200px;
    color: white;
}

.items_comments::-webkit-scrollbar {
    width: 0.8vw;
}

.comment {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.comment_name {
    text-align: center;
    width: 20%;
    margin-right: 10px;
    border-right: 4px solid $headings-color;
    padding-top: 15px;
}

.btn_quit {
    text-transform: uppercase;
    border: none;
    color: white;
    justify-self: center;
    padding: 5px 30px;
    font-size: 1.5rem;
    border-radius: 36px;
    background-color: $base-color;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}


/*-------popup_tasks__popup--------------*/

.tasks_modal {
    border: none;
    border-radius: 30px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px;
    color: white;
    text-align: center;
}

.popup_title {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.tasks_modal h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn_tasks {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border: none;
    color: white;
    justify-self: center;
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: 36px;
    background-color: $base-color;
    margin-left: auto;
    margin-right: auto;
}


/*---------Pop Up---------*/

.mistake_modal {
    border: none;
    border-radius: 30px;
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px;
    color: white;
    text-align: center;
}

.pop_up_mistakes {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.mistake_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    width: 100%;
}

.mistake_item input {
    width: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 0px 0px 10px;
    margin-right: 5px;
    color: white;
}

.mistake_item input::placeholder {
    color: white;
}

.mistake_item textarea {
    margin-bottom: 15px;
    order: none;
    background-color: transparent;
    border-bottom: 4px solid white;
    padding: 10px 0px 0px 10px;
    border: 2px solid white;
    max-width: 750px;
    width: 100%;
}


/*----Links pop ups -------*/

.link_popups {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid $headings-color;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.link_popups a {
    color: $text-color;
}

.link_comments {
    display: flex;
    align-items: center;
}

.fas {
    padding-left: 5px;
}

.tasks,
.mistakes {
    display: inline-block;
    width: 100px;
    text-align: center;
}

// NEWSLETTER POPUP
.newsletter {

		&__popup {
		}

		&__modal {
      color: white;
      padding: 20px;
      max-width: 200px;
      width: 100%;
		}

		&__popup-title {
      font-size: 2rem;
      margin-bottom: 10px;
      text-align: left;
		}

		&__popup-desc {
      margin-bottom: 10px;
		}

		&__close {
		}
}}