    .side_bar {
        list-style: none;
        background-color: $base-color;
        margin-top: 40px;
    }
    
    .side_bar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: disc;
    }
    
    .side_bar li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .side_bar a {
        color: white;
    }
    
    span {
        color: white;
        padding-top: 3px;
        font-size: 26px;
    }
    
    .side_bar li::marker {
        color: $accent-pink;
        font-size: 1rem;
    }
    
    .side_bar li:first-child::marker {
        color: green;
    }