 /*  .about li::before {
        content: "";
        background: $accent-pink;
        border-radius: 1ch;
        padding-inline: 1ch;
        margin-inline-end: 1ch;
        font-size: 50%;
    }*/
  
  .side_bar {
      list-style: none;
      background-color: $base-color;
      margin-top: 40px;
   
  }

  .fixed_side_bar {
   top: 2em;
  position: sticky;
  opacity: .4;
   //top: 0;
}
  
  .side_bar ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      list-style-type: disc;
  }
  
  .side_bar li {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  .side_bar a {
      color: white;
  }
  
  span {
      color: white;
      padding-top: 3px;
  }
  
  .side_bar li::marker {
      color: $accent-pink;
      font-size: 1rem;
  }
  
  .side_bar li:first-child::marker {
      color: green;
  }

