<<<<<<< HEAD
$hero-font: 'Ropa Sans',
sans-serif;
$main-font: 'Oswald',
sans-serif;
=======
$hero-font: 'Ropa Sans', sans-serif;
$main-font: 'Oswald', sans-serif;


>>>>>>> b914e6afb89d24962741684176f54a2269060b00
$headings-color: rgba(82, 174, 226, 1);
$text-color: rgba(79, 145, 217, 1);
$base-color:rgba(82, 174, 226, 1);
$accent-yellow: rgba(255, 231, 171, 1);
$accent-pink: rgba(255, 75, 162, 1);
$smallest: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$desktop: 1199.98px;