/*---- Lower Bar -------*/

.link_popups {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid $base-color;
    padding-bottom: 10px;
    margin-bottom: 40px;
    max-width: 950px;
}

@media (max-width: $small) {
    .link_popups {
        flex-direction: column-reverse;
        align-items: center;
    }
}