:root {
    --main-font: 'Ropa Sans', sans-serif;
    --accent-font: 'Oswald', sans-serif;
    --headings-color: rgba(58, 149, 201, 1);
    --text-color: rgba(82, 174, 226, 1);
    --accent-yellow: rgba(255, 231, 171, 1);
    --accent-pink: rgba(255, 75, 162, 1);
}

html,
body {
    height: 100%;
    font-family: 'Ropa Sans', 'Oswald', sans-serif;
    background: url(/assets/img/herobg.svg) no-repeat;
    background-size: cover;
    width: 100%;
}


/* -----SCROLLBAR STYLE------ */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64a4e9;
  }
/* -----SCROLLBAR STYLE END------ */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px;
}
/* -------------------------INDEX.HTML PAGE------------------------------- */

/* --------------------HERO SECTION----------------------- */


/* --------------------HEADER----------------------- */
/* -------NAV-------- */

.header__reg {
    max-width: 100px;
    margin-top: 20px;
    margin-left: auto;
}

.header__reg a, .header__reg span {
    color: var(--text-color);
}

.nav {
    padding: 15px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    transition: 0.2s;
}

.nav__logo:hover {
    transform: scale(1.05);
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

li:nth-last-child() {
    margin-right: 20px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s color ease;
    position: relative;
}

.nav__link::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width .3s;
}

.nav__link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav__link-search {
    margin-left: 150px;
}


/* --------------------MAIN----------------------- */

.hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 2vh 7vh;
}

.hero__nav-logo {
    margin-right: 2vh;

}

.hero__nav-logo img{
    max-width: 20vh;

}

.navigation__list {
    display: flex;
    width: 100%;
}

.navigation__list li {
    margin-right: 30px;
}

.navigation__links {
    width: 100%;
}

.hero__nav-link {
    font-size: 2.5vh;
    white-space: nowrap;
}

.nav__registration {
    white-space: nowrap;
    background-color: var(--text-color);
    padding: 1vh;
    font-size: 3vh;
    color: white;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s;
}

.nav__registration:hover {
    transform: scale(1.1);
    background-color: #51abff;
}

.nav__registration a{
    color: white;
    text-decoration: none;
}

.nav__login:hover {
    color: #cfe8ff;
}

.nav__reg:hover {
    color: #cfe8ff;
}

.smh__hero {
    justify-self: center;
}

.hero__content {
    display: flex;
    left: 9vh;
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
}

.hero__title {
    font-size: 12vh;
    line-height: 0.8;
    color: var(--headings-color);
    margin-bottom: 2.5vh;
    white-space: nowrap;
}

.hero__desc {
    color: var(--text-color);
    font-size: 3.5vh;
    margin-bottom: 3vh;
    max-width: 50vh;
}

.hero__btn {
    background-color: #6AB7FF;
    font-size: 6vh;
    padding: 2vh 3vh;
    color: white;
    border-radius: 10vh;
    border: none;
    font-family: var(--main-font);
    cursor: pointer;
    white-space: nowrap;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s;
}

.hero__btn:hover{
    transform: scale(1.1);
    background-color: #51abff;
}

.hero__img {
    align-self: center;
    justify-self: center;
    margin-left: 10vh;
    animation-name: img-float;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: relative;
}

.hero__img img {
    max-width: 120vh;
    width: 100%;
}

.vertical__bar {
    height: 100vh;
    background-color:rgba(82, 174, 226, 0.6);
    width: 6vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.vertical__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.vertical__search{
   margin-top: 8vh;
}

.vertical__search i {
    font-size: 4vh;
    color: white;
    transition: 0.3s;
}

.vertical__search i:hover {
    color: rgba(58, 160, 255, 0.5);
}

.vertical__icons {
    display: flex;
    flex-direction: column;
    font-size: 0.6vh;
    background-color:rgba(172, 208, 243, 0.52);
    min-height:40vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;
}

.fa-stack .fa-square {
    color: rgba(106, 183, 255, 0.5);
    transition: 0.3s;
}

.fa-stack:hover .fa-square {
    color: rgba(58, 160, 255, 0.5);
}

/* ----POPUPS----- */

/* -LOGIN- */

.hero__popup {
    position: absolute;
    background-color: rgba(77, 77, 77, 0.35);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
}

.hero__modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(142, 196, 232, 0.44);
    max-height: 300px;
    height: 100%;
    border-radius: 10vh;
    justify-content: space-evenly;
}

.popup__title {
    color: white;
    font-size: 45px;
}

.hero__modal input {
    padding: 1.5vh;
    border: none;
    outline: none;
    border-radius: 10vh;
    background-color: #74C7FF;
    font-family: var(--main-font);
    color: white;
    transition: .2s;
}

.hero__modal input:hover {
    background-color: #51abff;
}

.hero__modal input::placeholder {
    color: white;
}

.modal__btn {
    padding: 1.5vh 2vh;
    border: none;
    border-radius: 10vh;
    color: white;
    background-color: #74C7FF;
    font-family: var(--main-font);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s;
}

.modal__btn:hover {
    transform: scale(1.1);
    background-color: #51abff;
}





/* -------About-Section-------- */

.about {
   text-align: center;
}

.about__item {
    margin-bottom: 20px;
}

.title {
    font-size: 4rem;
    color: var(--headings-color);
    margin-bottom: 20px;
}

.text {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 auto;
    line-height: 1.3;
}

.number {
    color: var(--accent-yellow);
    font-size: 130px;
    margin-bottom: 5px;
}



/* --------------------FOOTER----------------------- */


/* -------------------------TOPIC.HTML PAGE------------------------------- */


/* -------------------------CONTACT.HTML PAGE------------------------------- */


/* ------Form Section----- */

.form-section__title {
    color: var(--headings-color);
    font-size: 3rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.form {
    background-color: rgba(151, 218, 255, 0.6);
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.form input, .form textarea {
    border: none;
    background-color: transparent;
    color: rgba(0, 25, 55, 0.6);
    font-weight: 600;
    border-bottom: 4px solid white;
    padding: 10px 0px 10px 10px;
    outline: none;
    margin-bottom: 30px;
    font-family: var(--main-font);
    font-size: 1rem;
}

.form input::placeholder, .form textarea::placeholder {
    font-weight: 600;
    color:rgba(0, 25, 55, 0.6);
}

.form__name {
    grid-column: 1/2;
}

.form__subject {
    grid-row: 2/3;
    grid-column: 1/2;
}

.form__email {
    grid-row: 3/4;
    grid-column: 1/2;
}

.form__btn {
    font-family: var(--main-font);
    grid-row: 4/5;
    grid-column: 2/3;
    text-transform: uppercase;
    border: none;
    background-color: var(--text-color);
    text-transform: uppercase;
    color: white;
    max-width: 261px;
    justify-self: center;
    padding: 20px 90px;
    font-size: 1.5rem;
    border-radius: 36px;
    margin-bottom: -50px;
    transition: transform 0.1s ease-in, background-color 0.1s ease;
}

.form__btn:hover {
    transform: scale(1.05);
    background-color: #5fb8e8;
}

.form__message {
    grid-row: 1/4;
    grid-column: 2/4;
    font-family: var(--main-font);
    font-weight: 600;
    border: 2px solid white;
}


/* -------------------------QUESTIONS.HTML PAGE------------------------------- */


/* -------------------------ARTICLE.HTML PAGE------------------------------- */


/* -------------------------INDEX.HTML PAGE------------------------------- */




/* -------KEYFRAMES------- */


@keyframes img-float {
    from {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}