/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 133 |   &__item {
 *     |   ^^^^^^^^
 *     '
 *   assets/sass/pages/_main-page.scss 133:3  @import
 *   assets/sass/main.scss 28:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 133 \2502    &__item {\a     \2502    ^^^^^^^^\a     \2575 \a   assets/sass/pages/_main-page.scss 133:3  @import\a   assets/sass/main.scss 28:9               root stylesheet';
}
