
.registration {
    font-size: 30px;
    margin-top: 20px;
    display: none;

    * {
        color: white;
    }
}

.burger .registration{
    display: block;
}

.burger.vertical__bar {

  @media (max-width: $smallest) {
    height: 100%;
  }
    width: 100vw;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: darken($base-color, 10%);
  }
  
   .burger .vertical__menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .burger__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
 
    li {
      margin-bottom: 20px;
    }
 
    a {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  
  .burger .burger__list {
    display: flex;
  }


  .burger .vertical__icons {
    background-color: transparent;
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
  }

  .burger .burger-icon {
    display: none;
  }

  .burger .close-burger {
    display: block;
  }

