.navigation {
  display: flex;
  align-items: center;
  padding: 40px 80px;
}

.nav__logo {
  transition: 0.2s;
  margin-right: 10px;

  @media (max-width: $small) {
    display: none;
  }

}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  transition: 0.5s color ease;
  white-space: nowrap;
  font-size: 19px;

  &::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background-color: $text-color;
    transition: width .3s;
  }
  &:hover::after {
    width: 100%;
    transition: width .3s;
  }
}


.navigation__list {
  display: flex;
  width: 100%;
  @media (max-width: $small) {
    display: none
  }
  li {
    margin-right: 20px;
  }
}

// HEADER LOGIN AND REGISTRATION FORM

.header__reg {
  max-width: 100px;
  margin-top: 20px;
  margin-left: auto;
  white-space: nowrap;
  background-color: $base-color;
  padding: 10px;
}

.header__reg a, .header__reg span {
  color: $base-color;
}

.nav__registration {
  white-space: nowrap;
  padding: 10px;
  color: $base-color;
  font-size: 20px;

  span {
    color: $text-color;
  }

  @media (max-width: $small) {
    display: none;
  }

}

.nav__registration a{
  color: $text-color;
  text-decoration: none;

}