.navigation {
  display: flex;
  align-items: center;
  padding: 2vh 7vh;
}

.nav__logo {
  transition: 0.2s;
  margin-right: 10px;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: $small) {
    display: none;
  }

}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  transition: 0.5s color ease;
  white-space: nowrap;
  font-size: 19px;

  &::after {
    content: ' ';
    display: block;
    width: 0;
    height: 3px;
    background-color: $text-color;
    transition: width .3s;
  }
  &:hover::after {
    width: 100%;
    transition: width .3s;
  }
}


.navigation__list {
  display: flex;
  width: 100%;
  @media (max-width: $small) {
    display: none
  }
  li {
    margin-right: 20px;
  }
}

// HEADER LOGIN AND REGISTRATION FORM

.header__reg {
  max-width: 100px;
  margin-top: 20px;
  margin-left: auto;
  white-space: nowrap;
  background-color: $base-color;
  padding: 10px;
}

.header__reg a, .header__reg span {
  color: white;
}

.nav__registration {
  white-space: nowrap;
  background-color:#ff4ea4;
  padding: 10px;
  color: white;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 20px;

  @media (max-width: $small) {
    display: none;
  }

}

.nav__registration:hover {
  transform: scale(1.1);
  background-color: #51abff;
}

.nav__registration a{
  color: white;
  text-decoration: none;
}

.nav__login:hover {
  color: #cfe8ff;
}

.nav__reg:hover {
  color: #cfe8ff;
}