.articles__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: $smallest) {
    grid-template-columns: 1fr;
  }
}

.articles__card {
  background-color: rgba(151, 206, 238, 1);
}

.articles {

  &__btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__btn {
    color: white;
    background-color: $base-color;
    padding: 5px 10px;
    font-size: 1.3rem;
    transition: .2s;
    text-transform: uppercase;
    margin: 10px 5px;
    

    &:hover, &:active, &:focus {
      background-color: darken($base-color, 10%);
    }
  }
}
