.form-section__title {
  margin-bottom: 30px;

  @media (max-width: $smallest) {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
  }
}

.form-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @media (max-width: $small) {
    justify-content: center;
  }
}

.form-section__img {
  transform: rotate(-5deg);
}

.form-section__img img {
  width: 100%;
  max-width: 600px;
  height: auto;

  @media (max-width: $small) {
    display: none;
  }
}