.hero-section {
  height: 100vh;
  background-image: url(/WebFromScratch/assets/img/bg-png.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  display: flex;
  margin-left: 70px;
  margin-top: 20px;

  @media (max-width: $medium) {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  @media (max-width: $small) {
    margin-top: 120px;
  }

  @media (max-width: $smallest) {
    margin-top: 40px;
  }
}

.hero__title {
  font-size: 5rem;
  line-height: 0.8;
  color: $headings-color;
  max-width: 400px;
  margin-bottom: 20px;
  font-weight: 300;

  @media (max-width: $medium) {
    width: 100%;
    max-width: initial;
  }

  @media (max-width: $smallest) {
    font-size: 4rem;
  }
}

.hero__desc {
  color: $text-color;
  font-size: 1.5rem;
  max-width: 400px;
  margin-bottom: 30px;

  @media (max-width: $medium) {
    width: 100%;
    max-width: initial;
  }

}

.hero__btn {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 2rem;
  white-space: nowrap;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  align-self: flex-start;

  &:hover {
    background-color: $btn-hover-color;
  }

  @media (max-width: $smallest) {
    padding: 15px 30px;
    font-size: 30px;
  }
}

.hero__img {
  align-self: center;
  justify-self: center;
  animation-name: img-float;
  margin-left: 30px;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  position: relative;
}

.hero__img img {
  max-width: 700px;
  width: 100%;

  @media (max-width: $medium) {
    display: none;
  }
}