.history h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 74.1%;
    color: $headings-color;
}

.history h3 {
    color: $headings-color;
}

.about_HTML h2 {
    color: $headings-color;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_items {
    padding: 15px;
}

.about_items li {
    color: $accent-pink;
    padding-bottom: 15px;
}

.about_items li span {
    color: $text-color;
}

.html {
    color: $text-color;
    line-height: 1.5rem;
}

.HTML h2 {
    font-size: 40px;
    line-height: 85.6%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $text-color;
    text-align: center;
}

code {
    font-size: 18px;
    font-weight: 500;
}

.list_tags {
    overflow: auto;
    height: 200px;
    color: $accent-pink;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
    margin-left: 45%;
}

.main_tags {
    font-size: 24px;
    color: $headings-color;
    font-weight: 600;
    text-align: center;
}


/* .messageDialog img {
        height: 70px;
        width: 70px;
        right:50px;
        position: absolute;
        transform: scale(1.01);
    }

    
    .messageDialog img:hover {       
        transform: scale(1.2);
        //-webkit-animation: 0.1s tremor ease-out infinite;  
        //animation: 0.1s tremor ease-out infinite;    

    }
    
//   vibro messageDialog
//     @-webkit-keyframes tremor {
//         0%, 25% {
//             left: -1px;
//             top:-1px;
//             -webkit-transform: translateX(-4%);
//             transform: translateX(-4%);
//         }
//         50%, 100% {
//             left: 1px;
//             top: 1px;
//             -webkit-transform: translateX(4%);
//             transform: translateX(4%);
//         }
//     }
//     @-moz-keyframes tremor {
//         0%, 25% {
//             left: -1px;
//             -webkit-transform: translateX(-4%);
//             transform: translateX(-4%);
//         }
//         50%, 100% {
//             left: 1px;
//             -webkit-transform: translateX(4%);
//             transform: translateX(4%);
//         }
//     }
//     @-ms-keyframes tremor {
//         0%, 25% {
//             left: -1px;
//             -webkit-transform: translateX(-4%);
//             transform: translateX(-4%);
//         }
//         50%, 100% {
//             left: 1px;
//             -webkit-transform: translateX(4%);
//             transform: translateX(4%);
//         }
//     }
//     @-o-keyframes tremor {
//         0%, 25% {
//             left: -1px;
//             -webkit-transform: translateX(-4%);
//             transform: translateX(-4%);
//         }
//         50%, 100% {
//             left: 1px;
//             -webkit-transform: translateX(4%);
//             transform: translateX(4%);
//         }
//     }
//     @keyframes tremor {
//         0%, 25% {
//             left: -1px;
//             -webkit-transform: translateX(-4%);
//             transform: translateX(-4%);
//         }
//         50%, 100% {
//             left: 1px;
//             -webkit-transform: translateX(4%);
//             transform: translateX(4%);
//         }
//     }*/

@media (max-width: $smallest) {}