     .history {
         text-align: center;
     }
     
     .history h1 {
         font-size: 90px;
         font-weight: 300;
         margin: 20px;
         line-height: 74.1%;
         color: $headings-color;
     }
     
     .history h3 {
         color: $headings-color;
     }
     
     .about_items li {
         color: $text-color;
         padding: 10px;
     }
     
     .about_HTML p {
         color: $text-color;
         text-align: justify;
         text-indent: 15px;
     }
     
     .HTML h2 {
         font-size: 40px;
         line-height: 85.6%;
         margin-top: 20px;
         margin-bottom: 20px;
         color: $text-color;
         text-align: center;
     }
     
     @media (max-width: $smallest) {}