.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  display: flex;
  margin-top: 20px;
  @media (max-width: $medium) {
    margin-top: 100px;
  }

  @media (max-width: $small) {
    margin-top: 120px;
  }

  @media (max-width: $smallest) {
    align-items: flex-start;
    padding: 0 15px;
    margin-top: 80px;
    margin-left: 0px;
  }
}

#hero__nav-logo {
  

  &:hover #logo-w {
    fill: #00A3FF;
    fill-opacity: 0.71;
  }

  &:hover #logo-f {
    fill: #FF4BA2;
    fill-opacity: 0.71;
  }
}

#logo-w {
  fill: #FF4BA2;
  fill-opacity: 0.71;
  transition: .3s;
}

#logo-f {
  fill: #00A3FF;
  transition: .3s;
  fill-opacity: 0.71;
}

#logo-s {
  fill: #FFB800;
  transition: .3s;
}

.hero__title {
  font-size: 5rem;
  line-height: 0.8;
  color: $headings-color;
  max-width: 400px;
  margin-bottom: 30px;
  font-weight: 300;
  
  @media (max-width: $medium) {
    width: 100%;
    max-width: initial;
  }

  @media (max-width: $smallest) {
    font-size: 3.5rem;
  }
}

.hero__desc {
  color: $text-color;
  font-size: 1.5rem;
  max-width: 400px;
  margin-bottom: 30px;
  line-height: 1.3;

  @media (max-width: $medium) {
    width: 100%;
  }

  @media (max-width: $smallest) {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }

}

.hero__btn {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 2rem;
  white-space: nowrap;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  align-self: flex-start;

  &:hover {
    background-color: $btn-hover-color;
  }

  @media (max-width: $smallest) {
    font-size: 1rem;
  }
}

.hero__img {
  align-self: center;
  justify-self: center;
  animation-name: img-float;
  margin-left: 30px;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  position: relative;
}

.hero__img img {
  max-width: 700px;
  width: 100%;

  @media (max-width: $medium) {
    display: none;
  }
}




// <!-- *************  ARTICLES SECTION *************  -->


.articles {

  margin-bottom: 50px;

  &__title {
    margin-bottom: 30px;
    max-width: 200px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media (max-width: $small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {

    &:nth-child(1) {
      grid-row: 1/3;
      background-color: rgba(255, 228, 159, 1);
  
      @media (max-width: $small) {
        grid-column: 1/3;
      }
      
    }
  
    &:nth-child(2) {
      background-color: rgba(151, 206, 238, 1);
      grid-column: 2/4;
  
      @media (max-width: $small) {
        grid-column: 1/3;
      }
    }
  
    &:nth-child(3), &:nth-child(4) {
      @media (max-width: $smallest) {
        display: none;
      }
    }
  
    &:nth-child(5) {
      background-color: rgba(151, 206, 238, 1);
      grid-column: 1/3;
  
      @media (max-width: $small) {
        grid-column: 1/3;
      }
    }
  
    &:nth-child(6) {
  
      @media (max-width: $small) {
        grid-column: 1/3;
      }
    }
  
    &:hover {
      transform: scale(1.01);
    }

  }
}

// ARTICLE --------


.article {
  color: white;
  background-color: rgba(255, 158, 205, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
  transition: .2s;

  &__title {
    text-align:left;
    margin-bottom: 20px;
  }

  &__info {
    text-align:left;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  &__link {
    align-self: flex-end;
  }
}

// ************* NEWS SECTION  *****
.news {

  margin-bottom: 40px;

  &__title {

    margin-bottom: 30px;
    max-width: 150px;

  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 30%;
    background-color: rgba($base-color, 0.8);
    color: white;
    padding: 15px;
    margin: auto;
    max-width: 350px;
    margin: 0 15px;
    cursor: pointer;


    @media (max-width: $small) {
      justify-content: space-evenly;
      flex-basis: 45%;
    }

    @media (max-width: $smallest) {
      justify-content: center;
      margin: 0 auto;
      flex-basis: initial;
    }



    &:nth-child(1) {
      @media (max-width: $small) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media (max-width: $smallest) {
        display: none;
      }
    }
  }

  &__desc {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__dot {
    width: 10px;
    height: 10px;
    background-color: $base-color;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;

    &:nth-child(n+2) {
      background-color: lighten($base-color, 30%);
    }
  }
}


// <!-- ************* NEWSLETTER SECTION ************ -->

.newsletter {

  margin-bottom: 60px;

  &__title {

    max-width: 250px;
  }

  &__content {
    margin-top: 50px;
    text-align: center;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    input {
      border: 1px solid $base-color;
      padding: 10px;
      width: 100%;
      max-width: 620px;
      color: $text-color;
      border-right: none;
      outline: none;

      &::placeholder {
        color: $base-color;
      }
    }

    button {
      background-color:rgba($base-color, 0.6);
      padding: 5px;
      color: white;
      transition: .2s;


      &:hover {
        background-color:rgba($base-color, 0.8);
      }
    }
  }

  &__desc {
    font-weight: 300;
    max-width: 500px;
    font-style: italic;
    margin: 0 auto;
  }
}

// ************* ABOUT SECTION ***********

.about {
  padding-bottom: 40px;
  overflow: hidden;
}

.about__title {
  margin-top: 40px;
  @media (max-width: 1000px) {
    margin-bottom: 50px;
  }
  max-width: 180px;
}

.about__item {

  text-align: center;

  img {
    margin-bottom: 20px;
  }

  display: flex;
  align-items: center;
  // margin-bottom: 20px;

  @media (max-width: 1000px) {
    flex-direction: column;
    margin-bottom: 80px;
  }
}

.about__body {
  width: 50%;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.about__content {
  flex: 0 0 100%;
  text-align: center;

  @media (max-width: 1000px) {
    order: 1;
  }
}



.about__img, .about__img-round {
  position: relative;
}

.about__text {
  font-size: 1.5rem;
}





@media (min-width: 1000px) {
  .about__img {
    flex: 0 0 50%;
    transform: translate(-40%, 0);
    margin-bottom: 20px;
    order: 2;
  }
}

.about__overlay {
  font-size: 10rem;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  left: 120px;
  color: white;
  opacity: 0.7;
  line-height: 0.7;

  @media (max-width: 1000px) {
    left: 550px;
    text-align: center;
  }

  @media (max-width: $smallest) {
    font-size: 7rem;
    left: 580px;
    top: 180px;
  }
}

.about__overlay-about {
  font-size: 10rem;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  left: 90px;
  color: white;
  opacity: 0.7;
  line-height: 0.7;

  @media (max-width: 1000px) {
    left: 450px;

  }

  @media (max-width: $smallest) {
    font-size: 5rem;
    left: 580px;
    top: 230px;

  }
}

.about__overlay-round {
  font-size: 10rem;
  text-transform: uppercase;
  position: absolute;
  color: white;
  opacity: 0.7;
  line-height: 0.7;
  z-index: 20;
  top: 180px;
  left: 40px;

  @media (max-width: $smallest) {
    font-size: 5rem;
    left: 190px;
    top: 240px;
   

  }
}


// ********** CONTACT FORM SECTION ***********

.form-section__title {
  margin-bottom: 30px;
  max-width: 250px;

  @media (max-width: $smallest) {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
  }
}

.form-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: $small) {
    justify-content: center;
  }
}

.form-section__img {
  transform: rotate(-5deg);
}

.form-section__img img {
  width: 100%;
  max-width: 600px;
  height: auto;

  @media (max-width: $small) {
    display: none;
  }
}


// ********** QUESTIONS SECTION *********

.questions__title {
  @media (max-width: $smallest) {
    margin-top: 20px;
  }

  margin-bottom: 30px;
  max-width: 200px;
}

.questions__desc {
  max-width: 800px;
  margin: 20px 0px;
}

.questions__row {
  display: flex;

  @media (max-width: $medium) {
    flex-direction: column;
  }

  @media (max-width: $small) {
    margin-top: 0px;
  }
}

.questions__img {

  img {
    @media (max-width: $medium) {
      max-width: 10px;
      height: auto;
    }
  
    @media (max-width: $smallest) {
      display: none;
    }
  }
}