 //Article Section () 
 .sql {
  padding-bottom: 50px;
  font-style: normal;
  font-weight: normal;
}

.container_titleTopic_menu {
display: flex;
justify-content: space-between; 
}

 //Article Menu Section
.article_right_menu {
padding-top: 40px;
//   float:right; 
width:44%; 
margin-left:1%;

}

.fixed_article_menu {
position: sticky;
//opacity: .6;
//min-height: 2em;
top:  3em;
}


 //Article Title Section 
.article_title {
padding: 30px;
}

#article_title1 {
 font-style: normal;
font-weight: normal;
//font-size: 85px;
line-height: 110%;
}

#article_title2 {
margin-top:20px;
font-size: 34px;
line-height: 120%;
}

.article_title li  {
color: $accent-pink ;
padding-top: 20px;
}

.article_title li  span {
  color: $base-color ;
}

///// Article Topic Section 
.article_topic {
text-align: justify;
//text-indent: 15px;   
//font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 120%;

}
.topic {
font-size: 2rem;
margin: 10;
color: $base-color ;
padding-bottom: 20px;
}

.article_li {
color: white;
background-color:$base-color ;
font-size: 1.5rem;
padding: 15px;
text-align: center;
//margin-bottom: 1px;
transition: 0.4s;
//list-style: none;
//background-color: $base-color;
//margin-top: 40px;

&:hover {
background-color: darken($base-color, 20%);
   
}
@media (max-width: $smallest) {
  display: block;
  font-size: 1rem;
}
}
.article_li a {
color: white;
}


.article_mainmenu1 {
 top: 2em;
padding-top: 20px
}

// .code_article {
//   font-size:  1rem;
//   font-family: Ropa Sans;
//   color: $base-color
// }