
.articles__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: $smallest) {
    grid-template-columns: 1fr;
  }
}

.articles__card {
  background-color: rgba(151, 206, 238, 1);
}

.articles__desc {
  font-size: 1.3rem;
  max-width: 300px;
  margin-bottom: 30px;
}
