.oops {

  &__content {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
  }

  &__icon {
    font-size: 20rem;
  }

  &__text {
    max-width: 300px;
    margin-right: 40px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  &__desc {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  &__link {
    color: $text-color;
    border: 1px $text-color solid;
    max-width: 100px;
    text-align: center;
    transition: .1s;
    padding: 5px;

    &:hover {
      background-color: $text-color;
      color: white;
    }
  }
}





