 //Article Section () 
 .sql {
  padding-bottom: 50px;


  &__topics {
    max-width: 1000px;
    width: 100%;
  }
}

.sql__container-for-text-menu {
display: flex;
justify-content: space-between; 
position: relative;
}

.sql__container-topic {
  max-width: 800px;
}

// Bullets

.sql__text-points {
  color: $text-color;
  font-size: 1.3rem;
  line-height: 1;

  position: relative;

  li::after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: $accent-pink;
  }

  li{
    display: block;
    margin-bottom: 10px;
  }
}


    .sql__topic-title {
    font-size: 2.5rem;
    color: $base-color ;
    margin: 30px 0px;
    }

///adaptiv
.sql__topic-title  {
  @media (max-width: $small) {
    font-size: 2rem;;
  }
}
  


